.calc__container {
    display: flex;
    gap: 10px;
}

.calc__content {
    flex-basis: 50%;

}

.calc__title {
    margin-bottom: 32px;
}

.calc__fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

.calc__fieldset_size {
    margin-bottom: 32px;
    display: flex;
}

.calc__wrapper-input-size {
    margin-right: 10px;
}
.calc__wrapper-input-size:last-child {
    margin-right: 0;
}

.calc__text {
    font-size: 12px;
    color: #898989;
    margin-bottom: 2px;
}

.calc__input-number {
    width: 240px;
    height: 54px;
    border-radius: 12px;
    border: 1px solid #E4E4E4;
    background-color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    padding: 0 25px;

}

.calc__fieldset_tariff {
    margin-bottom: 65px;
}

.calc__text_legend {
    margin-bottom: 16px;
}

.calc__wrapper-input-tariff {
    margin-right: 16px;
    display: inline-flex;
}
.calc__wrapper-input-tariff:last-child {
    margin-right: 0;
}

/* скрываем импуты и рисуем свои*/
.calc__input-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.calc__input-radio::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 50%;
}
.calc__input-radio::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    transform: translate(-50%, -50%);
    background-color: #232020;
    border-radius: 50%;
    opacity: 0;
}
/* делаем выбор, перемещение инпута */
.calc__input-radio:checked::after {
    opacity: 1;
}


.calc__label-radio {
    text-transform: uppercase;
}

.calc__total {
    flex-basis: 50%;
    display: flex;
    align-items: flex-end;
    padding: 50px;
    background: #333 url(../assets/images/calc_img.jpg) center/cover no-repeat;
    border-radius: 12px;
}
.calc__result-wrapper {
    flex-basis: 303px;
    padding: 24px;
    border-radius: 8px;
    background-color: #FFF;
}

.calc__result {
    margin-top: 0;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}
.calc__result:last-child {
    margin-bottom: 0;
}
.calc__result-text {
}