html {
    border-style: border-box;
}
* {
    box-sizing: inherit;
}
body {
    font-family: Inter, sans-serif;
    min-width: 320px;
    color: #232020;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}
.container {
    max-width: 1190px;
    margin: 0 auto;
}
.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}
.link {
    text-decoration: none;
    color: inherit;
}
.image {
    min-width: 100%;
    height: auto;
}
.button {
    border: none;
    border-radius: 24px;
    padding: 18px 40px;
    color: #232020;
    text-transform: uppercase;
    background-color: #FFC700;
    cursor: pointer;
}
.section-offset {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* делаем невидимый заголовок h1, для поисковых систем */
.visually-hidden {
    position: fixed;
    transform: scale(0);
}
.filling {
    width: 100%;
    height: 100%;
}
.gray-block {
    background: #F8F8F8;
    border-radius: 12px;
    padding: 50px;
    min-height: 530px;
}

.title {
    font-size: 44px;
    font-weight: 500;
    line-height: 130%;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}